.wrapper {
    display: flex;
    align-items: center;

    background-color: var(--background-color-dark);
    border-radius: 0.5rem;
    padding-left: 1rem;
    color: var(--text-color-secondary);
}

.input {
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    outline: none;
}

.input::placeholder {
    color: var(--text-color-secondary);
}